body{
font-family: Arial;
background:#f4f6f9;
text-align:center;
margin:0;
}
header{
background:#2c3e50;
color:white;
padding:20px;
}
.form-section{
margin:20px;
}
input{
padding:10px;
margin:5px;
width:180px;
}
button{
padding:10px 15px;
background:#3498db;
color:white;
border:none;
cursor:pointer;
border-radius:4px;
}
button:hover

table{
margin:auto;
border-collapse:collapse;
width:70%;
background:white;
}

th,td{
border:1px solid #ddd;
padding:10px;
}

th{
background:#3498db;
color:white;
}

.delete{
background:red;
}

.edit{
background:green;
}
